.burger {
  &__icon {
    position: relative;
    display: block;
    width: 26px;
    height: 4px;
    border-radius: 2px;
    background: $black;
  
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 4px;
      border-radius: 2px;
      background: $black;
      position: absolute;
      top: -10px;
    }
  
    &::after {
      content: "";
      display: block;
      width: 26px;
      height: 4px;
      border-radius: 2px;
      background: $black;
      position: absolute;
      top: 10px;
    }
  }
}