.form {
  display: flex;

  @include tablet {
    flex-direction: column;
  }

  &__col {
    flex: 1;
    margin-right: rem(20px);

    @include tablet {
      margin: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__row {
    display: flex;
  }

  &__field {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: rem(16px);
    margin-bottom: rem(11px);

    @include tablet {
      margin-bottom: rem(14px);
    }

    &:last-child {
      margin-right: 0;
    }

    &--textarea {
      margin-right: 0;
      margin-bottom: rem(38px);

      @include tablet {
        margin-bottom: 22px;
      }
    }
  }

  &__label {
    color: #fff;
    margin-bottom: rem(6px);
  }

  &__input {
    font-size: rem(14px);
    width: 100%;
    padding: rem(18px) rem(12px);
    height: rem(58px);
    background: #fff;
    border-radius: 4px;

    &--error {
      border: 3px dashed $red;
    }

    @include tablet {
      height: 36px;
    }

    &:focus {
      outline: none;
      border: 3px solid $red;
    }

    &--textarea {
      height: rem(152px);
      resize: none;

      @include tablet {
        height: rem(82px);
      }
    }
  }

  &__select {
    color: #fff;
    margin-bottom: rem(38px);

    @include tablet {
      margin-bottom: rem(30px);
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__pay {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(11px);

    @include tablet {
      margin-bottom: 16px;
    }

    @include mobile {
      justify-content: center;
    }
  }

  &__call {
    display: flex;
    flex-wrap: wrap;

    @include mobile {
      justify-content: center;
    }
  }

  &__buttons {
    @include tablet {
      display: flex;
      justify-content: center;
    }
  }

  &__button {
    margin-right: rem(15px);

    &:last-child {
      margin-right: 0;
    }

    @include tablet {
      margin-right: rem(26px);
    }
  }
}