.menu {
  position: relative;

  @include tablet {
    display: none;
    z-index: $zFixedMenu + 2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333537;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include tablet {
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    margin-right: rem(26px);
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;

      @include tablet {
        margin-bottom: 0;
      }
    }

    @include tablet {
      margin-right: 0;
      margin-bottom: rem(32px);
    }
  }

  &__link {
    transition: 0.4s;
    white-space: nowrap;

    &:hover {
      color: $red;
    }

    @include tablet {
      font-size: rem(38px);
      color: #fff;
    }

    @include mobile {
      font-size: rem(28px);
    }
  }

  &__close {
    cursor: pointer;
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 42px;
    top: 42px;

    @include tablet {
      display: block;
    }

    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      height: 24px;
      border-radius: 2px;
      background: #c2c2c2;
      position: absolute;
      left: 8px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}