.phone {
  display: flex;
  align-items: center;
  transition: 0.4s;

  &__icon {
    transition: 0.4s;
    fill: $black;
    width: rem(14px);
    height: rem(14px);
    margin-right: rem(6px);

    @include tablet {
      fill: $red;
    }

    @include mobile {
      fill: $black;
    }
  }

  &:hover {
    
    .phone__text {
      color: $red;
    }

    .phone__icon {
      fill: $red;
    }

  }

  &__text {
    white-space: nowrap;
    font-size: rem(18px);

    @include tablet {
      color: $red;
      font-size: rem(16px);
    }

    @include mobile {
      color: $black;
    }
  }
}