.spec {
  padding: 20px 3.5%;
  color: #000;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(40px);

  td {
    vertical-align: middle;
  }

  &__row {
    padding: 0 12px;
    display: flex;
    align-items: center;
    height: 44px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__pic {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }

  &__name {
    max-width: 127px;
    width: 9.5vw
  }

  &__value {
    width: 53px;
    text-align: right;
  }
}