// variables
$containerWidth: 940px;
$baseFontSize: 16px;

// colors
$body: #666;
$black: #292929;
$red: #E01F3D;

// z-indexes
$zFixedMenu: 100;

// normalize
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";

// setups
@import "_base";
@import "https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap";

// components
@import "components/_header";
@import "components/_menu";
@import "components/_phone";
@import "components/_first-screen";
@import "components/_point";
@import "components/_page-title";
@import "components/_button";
@import "components/_features";
@import "components/_feature";
@import "components/_reviews";
@import "components/_review";
@import "components/_photo-pager";
@import "components/_order";
@import "components/_form";
@import "components/_select";
@import "components/_fixed-menu";