@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import "https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

body {
  height: 100%;
  margin: 0;
  position: relative;
  font-family: "Play", sans-serif;
  line-height: 1.15;
  color: #666;
  background: #fff;
  -webkit-font-smoothig: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 1.25rem;
  width: 100%;
  max-width: 980px;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .container {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 767px;
    padding: 0 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
  padding: 0;
  border: none;
  line-height: 1.15;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

input {
  border: none;
}

address {
  font-style: normal;
}

.button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .section {
    height: auto;
    min-height: 0;
  }
}

.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40px;
  height: 40px;
}
.logo__pic {
  width: 40px;
  height: 40px;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.phone__icon {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  fill: #292929;
  width: 14px;
  height: 14px;
  margin-right: 6px;
}
@media screen and (max-width: 768px) {
  .phone__icon {
    fill: #E01F3D;
  }
}
.phone:hover {
  color: #E01F3D;
}
.phone:hover .phone__icon {
  fill: #E01F3D;
}
.phone__text {
  white-space: nowrap;
  font-size: 1.125rem;
}
@media screen and (max-width: 768px) {
  .phone__text {
    color: #E01F3D;
    font-size: 1rem;
  }
}

.header {
  color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu {
  padding: 0.75rem 1.25rem 0;
}
@media screen and (max-width: 768px) {
  .header__menu {
    padding: 0;
  }
}
.header__phone {
  padding-top: 11px;
}
@media screen and (max-width: 768px) {
  .header__phone {
    display: none;
  }
}
.header__burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__burger {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .header__burger {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.menu {
  position: relative;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
    z-index: 102;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333537;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .menu__list {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.menu__item {
  margin-right: 1.625rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .menu__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .menu__item {
    margin-right: 0;
    margin-bottom: 32px;
  }
}
.menu__link {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  white-space: nowrap;
}
.menu__link:hover {
  color: #E01F3D;
}
@media screen and (max-width: 768px) {
  .menu__link {
    font-size: 2.375rem;
    color: #fff;
  }
}
@media screen and (max-width: 480px) {
  .menu__link {
    font-size: 1.75rem;
  }
}
.menu__close {
  cursor: pointer;
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 42px;
  top: 42px;
}
@media screen and (max-width: 768px) {
  .menu__close {
    display: block;
  }
}
.menu__close::before, .menu__close::after {
  content: "";
  display: block;
  width: 5px;
  height: 24px;
  border-radius: 2px;
  background: #c2c2c2;
  position: absolute;
  left: 8px;
}
.menu__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger__icon {
  position: relative;
  display: block;
  width: 26px;
  height: 4px;
  border-radius: 2px;
  background: #292929;
}
.burger__icon::before {
  content: "";
  display: block;
  width: 26px;
  height: 4px;
  border-radius: 2px;
  background: #292929;
  position: absolute;
  top: -10px;
}
.burger__icon::after {
  content: "";
  display: block;
  width: 26px;
  height: 4px;
  border-radius: 2px;
  background: #292929;
  position: absolute;
  top: 10px;
}

.first-screen {
  background-color: #f5f5f5;
}
.first-screen__container {
  padding-top: 1.5rem;
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../img/phones-main.png") right 8% bottom 30%/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .first-screen__container {
    background: none;
    padding-bottom: 6.25rem;
  }
}
@media screen and (max-width: 480px) {
  .first-screen__container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.first-screen__container::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.875rem;
  height: 0.625rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #C4C4C4;
  bottom: -0.3125rem;
  right: 5%;
}
@media screen and (max-width: 768px) {
  .first-screen__container::after {
    right: 10%;
  }
}
.first-screen__header {
  margin-bottom: 1.5625rem;
}
.first-screen__content {
  width: 42%;
}
@media screen and (max-width: 768px) {
  .first-screen__content {
    padding-top: 1.875rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 85%;
  }
  .first-screen__content::before {
    content: "";
    display: block;
    margin-bottom: 4rem;
    width: 21.4375rem;
    height: 21.4375rem;
    background: url("../img/phones-main.png") center center/contain no-repeat;
  }
}
@media screen and (max-width: 480px) {
  .first-screen__content {
    width: 80%;
  }
}
.first-screen__title {
  margin-bottom: 22px;
}
@media screen and (max-width: 768px) {
  .first-screen__title {
    margin-bottom: 12px;
  }
}
.first-screen__text {
  margin-bottom: 35px;
  color: #292929;
  font-size: 1.125rem;
  line-height: 1.35;
}
@media screen and (max-width: 768px) {
  .first-screen__text {
    margin-bottom: 25px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 480px) {
  .first-screen__text {
    width: 90%;
  }
}
.first-screen__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .first-screen__points {
    display: none;
  }
}
.first-screen__point {
  margin-right: 0.5rem;
}

.point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.point__icon {
  display: block;
  width: 2.5625rem;
  height: 2.5625rem;
  margin-right: 0.625rem;
}
.point__text {
  max-width: 7.1875rem;
  color: #292929;
}

.page-title {
  color: #292929;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1;
  text-transform: uppercase;
}
.page-title--white {
  color: #fff;
}
@media screen and (max-width: 480px) {
  .page-title {
    font-size: 2rem;
  }
}

.button {
  display: inline-block;
  border-radius: 6.25rem;
  padding: 1.125rem 2.5625rem;
  background: #E01F3D;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.button:hover {
  background: #CA1B36;
}
.button--theme--text {
  color: #E01F3D;
  padding: 0;
  background: none;
  text-transform: none;
  font-weight: 400;
}
.button--theme--text:hover {
  background: none;
  color: #fff;
}

.features__container {
  padding-top: 6.875rem;
  padding-bottom: 6.25rem;
}
@media screen and (max-width: 480px) {
  .features__container {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.features__container::after {
  content: "";
  display: block;
  border-right: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid #E01F3D;
  position: absolute;
  left: -2%;
  bottom: -2.875rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
@media screen and (max-width: 768px) {
  .features__container::after {
    left: 4%;
  }
}
.features__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 3.75rem;
}
.features__title {
  margin-bottom: 1.125rem;
}
@media screen and (max-width: 768px) {
  .features__title {
    margin-bottom: 0.6875rem;
  }
}
.features__subtitle {
  padding: 0 20%;
}
@media screen and (max-width: 768px) {
  .features__subtitle {
    padding: 0 14%;
  }
}
@media screen and (max-width: 768px) {
  .features__subtitle {
    padding: 0 5%;
  }
}
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.features__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
}
@media screen and (max-width: 480px) {
  .features__item {
    margin-bottom: 30px;
    padding: 0;
  }
}
.features__item:nth-child(4n+1) {
  padding-left: 0;
}
.features__item:nth-child(3n) {
  padding-right: 0;
}
.features__item::after {
  content: url("../img/circles.svg");
  position: absolute;
  top: 3.375rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .features__item::after {
    display: none;
  }
}
.features__item:nth-child(3n)::after, .features__item:last-child::after {
  display: none;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .feature {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.feature__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8rem;
  height: 8rem;
  background: #F2F5F4;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 480px) {
  .feature__pic {
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.feature__icon {
  width: 4.25rem;
  height: 4.25rem;
}
.feature__description {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .feature__description {
    text-align: left;
  }
}
.feature__title {
  color: #292929;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}
.feature__subtitle {
  padding: 0 0.9375rem;
}
@media screen and (max-width: 768px) {
  .feature__subtitle {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .feature__subtitle {
    padding-right: 20px;
  }
}

.slider {
  background: #F8FAF9;
  height: auto;
  min-height: 100vh;
}
@media screen and (max-width: 768px) {
  .slider {
    min-height: auto;
  }
}
.slider__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 66px;
  padding-bottom: 66px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .slider__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}
.slider__container::after {
  content: "";
  background: #292929;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  right: -1%;
  bottom: -0.75rem;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
@media screen and (max-width: 768px) {
  .slider__container::after {
    right: 8%;
  }
}
.slider__control {
  z-index: 10;
  height: 29px;
  position: absolute;
  left: 1%;
}
@media screen and (max-width: 768px) {
  .slider__control {
    left: 18%;
    top: 232px;
  }
}
@media screen and (max-width: 480px) {
  .slider__control {
    top: 196px;
    left: 10px;
  }
}
.slider__control--right {
  left: auto;
  right: 1%;
}
@media screen and (max-width: 768px) {
  .slider__control--right {
    right: 18%;
  }
}
@media screen and (max-width: 480px) {
  .slider__control--right {
    right: 10px;
  }
}
.slider__arrow {
  -webkit-transition: stroke 0.3s;
  transition: stroke 0.3s;
  stroke: black;
  width: 15px;
  height: 29px;
}
.slider__arrow:hover {
  stroke: #E01F3D;
}
.slider__arrow--right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.slider__list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.slide__pic {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  margin-left: 3.2%;
  margin-right: 6%;
}
@media screen and (max-width: 768px) {
  .slide__pic {
    width: 306px;
    margin: 0;
    margin-bottom: 52px;
  }
}
@media screen and (max-width: 480px) {
  .slide__pic {
    margin-bottom: 27px;
  }
}
.slide__content {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media screen and (max-width: 768px) {
  .slide__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.slide__params {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.slide__open {
  border-radius: 4px;
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  background: #9A9A9A;
}
.slide__open:hover .slide__table {
  display: block;
}
@media screen and (max-width: 768px) {
  .slide__open {
    display: none;
  }
}
.slide__icon {
  width: 42px;
  height: 42px;
}
.slide__table {
  z-index: 101;
  display: none;
  position: absolute;
  top: 0;
  left: 90px;
}
.slide__title {
  color: #292929;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .slide__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 480px) {
  .slide__title {
    max-width: 400px;
  }
}
.slide__main {
  padding-right: 32px;
}
@media screen and (max-width: 768px) {
  .slide__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 82%;
    padding-right: 0;
  }
}
.slide__main p:last-of-type {
  margin-bottom: 31px;
}
@media screen and (max-width: 768px) {
  .slide__main p {
    text-align: center;
  }
}
.slide__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 16px;
}
.slide__feature {
  min-width: 104px;
  margin-right: 44px;
  margin-bottom: 0.5rem;
}
.slide__feature:last-child {
  margin-right: 0;
}
.slide__feature-text {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.slide__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .slide__cta {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.slide__price {
  font-size: 36px;
  color: #292929;
  margin-right: 17px;
  padding: 6px 0;
}
@media screen and (max-width: 768px) {
  .slide__price {
    font-size: 40px;
    margin-right: 36px;
  }
}
@media screen and (max-width: 480px) {
  .slide__price {
    font-size: 32px;
  }
}

.spec {
  padding: 20px 3.5%;
  color: #000;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
.spec td {
  vertical-align: middle;
}
.spec__row {
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  margin-bottom: 8px;
}
.spec__row:last-child {
  margin-bottom: 0;
}
.spec__pic {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
.spec__icon {
  width: 32px;
  height: 32px;
}
.spec__name {
  max-width: 127px;
  width: 9.5vw;
}
.spec__value {
  width: 53px;
  text-align: right;
}

.crew__container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.crew__title {
  text-align: center;
  margin-bottom: 3.25rem;
}
.crew__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .crew__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.crew__item {
  width: 23.5%;
  margin-right: 2%;
}
.crew__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .crew__item {
    width: 222px;
    margin-right: 0;
  }
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 480px) {
  .person {
    width: 300px;
  }
}
.person__photo {
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .person__photo {
    display: none;
  }
}
.person__header {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: #292929;
  margin-bottom: 11px;
}
@media screen and (max-width: 768px) {
  .person__header {
    margin-bottom: 20px;
  }
  .person__header:last-child {
    margin-bottom: 0;
  }
}
.person__triangle {
  display: inline-block;
  margin-left: 4px;
  border-right: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
  border-bottom: 0rem solid transparent;
  border-top: 0.4375rem solid #E01F3D;
}
.person__wrapper {
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 100%;
}
@media screen and (max-width: 768px) {
  .person__wrapper {
    position: static;
    top: auto;
  }
}
.person__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.person__desc-photo {
  display: none;
}
@media screen and (max-width: 768px) {
  .person__desc-photo {
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .person__desc-photo {
    width: 138px;
  }
}
.person__occupation {
  color: #292929;
  margin-bottom: 4px;
}
@media screen and (max-width: 768px) {
  .person__occupation {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 768px) {
  .person__about {
    margin-bottom: 24px;
  }
}

.review {
  background: #F8FAF9;
  padding: 2.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3.5rem 1.5rem 3.125rem;
  }
}
@media screen and (max-width: 480px) {
  .review {
    padding-bottom: 2.5rem;
  }
}
.review::before {
  content: "";
  display: block;
  position: absolute;
  top: -3.8125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 5.1875rem;
  height: 5.1875rem;
  border-radius: 50%;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .review::before {
    top: -3rem;
  }
}
@media screen and (max-width: 768px) {
  .review::before {
    display: none;
  }
}
.review__photo {
  width: 15.8125rem;
  height: 16.5rem;
  margin-right: 2.5rem;
}
@media screen and (max-width: 768px) {
  .review__photo {
    width: 8.125rem;
    height: 8.125rem;
    margin-bottom: 2rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .review__photo {
    margin-bottom: 22px;
  }
}
.review__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2.0625rem 0;
}
@media screen and (max-width: 768px) {
  .review__content {
    text-align: center;
    padding: 0;
  }
}
.review__title {
  color: #292929;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.6875rem;
}
@media screen and (max-width: 768px) {
  .review__title {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 480px) {
  .review__title {
    margin-bottom: 0.75rem;
  }
}
.review__text {
  padding-right: 4.0625rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .review__text {
    padding-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .review__text {
    margin-bottom: 0.75rem;
  }
}
.review__name {
  color: #292929;
  font-weight: 700;
  font-size: 1.125rem;
}
@media screen and (max-width: 768px) {
  .review__name {
    font-weight: 400;
  }
}

.reviews__container {
  padding-top: 4rem;
  padding-bottom: 3.9375rem;
}
@media screen and (max-width: 768px) {
  .reviews__container {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}
.reviews__container::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1.4375rem;
  border-radius: 50%;
  width: 2.1875rem;
  height: 2.1875rem;
  background: #868686;
}
@media screen and (max-width: 768px) {
  .reviews__container::after {
    left: 8%;
  }
}
.reviews__list {
  margin-bottom: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .reviews__list {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__list {
    margin-bottom: 2.75rem;
  }
}
.reviews__item {
  display: none;
}
.reviews__item--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__title {
  text-align: center;
  margin-bottom: 1.9375rem;
}
@media screen and (max-width: 480px) {
  .reviews__title {
    margin-bottom: 1.625rem;
  }
}

.photo-pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.photo-pager__item {
  margin-right: 0.375rem;
  position: relative;
  width: 4.625rem;
  height: 4.625rem;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .photo-pager__item {
    width: 4rem;
    height: 4rem;
    margin-right: 0.625rem;
  }
}
.photo-pager__item:last-child {
  margin-right: 0;
}
.photo-pager__item:hover {
  cursor: pointer;
}
.photo-pager__item:hover::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  width: 4.625rem;
  height: 4.625rem;
  -webkit-box-shadow: 0 0 0 0.25rem inset #E01F3D;
          box-shadow: 0 0 0 0.25rem inset #E01F3D;
}
@media screen and (max-width: 480px) {
  .photo-pager__item:hover::after {
    width: 4rem;
    height: 4rem;
  }
}
.photo-pager__item--active:hover {
  cursor: default;
}
.photo-pager__item--active:hover::after {
  -webkit-box-shadow: 0 0 0 0.375rem inset #E01F3D;
          box-shadow: 0 0 0 0.375rem inset #E01F3D;
}
.photo-pager__item--active::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  width: 4.625rem;
  height: 4.625rem;
  -webkit-box-shadow: 0 0 0 0.375rem inset #E01F3D;
          box-shadow: 0 0 0 0.375rem inset #E01F3D;
}
@media screen and (max-width: 480px) {
  .photo-pager__item--active::after {
    width: 4rem;
    height: 4rem;
  }
}
.photo-pager__button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.photo-pager__pic {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order {
  background: #181818 url("../img/form-bg.png") center bottom/cover no-repeat;
}
.order__container {
  padding-top: 4.25rem;
  padding-bottom: 5.3125rem;
}
@media screen and (max-width: 768px) {
  .order__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}
@media screen and (max-width: 480px) {
  .order__container {
    padding-top: 5.375rem;
    padding-bottom: 5.375rem;
  }
}
.order__title {
  text-align: center;
  margin-bottom: 3.625rem;
}
@media screen and (max-width: 768px) {
  .order__title {
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 768px) {
  .order__title {
    margin-bottom: 41px;
  }
}
@media screen and (max-width: 768px) {
  .order__form {
    width: 64%;
  }
}
@media screen and (max-width: 480px) {
  .order__form {
    width: 100%;
    max-width: 37.5rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin: 0;
  }
}
.form__col:last-child {
  margin-right: 0;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
  margin-bottom: 0.6875rem;
}
@media screen and (max-width: 768px) {
  .form__field {
    margin-bottom: 0.875rem;
  }
}
.form__field:last-child {
  margin-right: 0;
}
.form__field--textarea {
  margin-right: 0;
  margin-bottom: 2.375rem;
}
@media screen and (max-width: 768px) {
  .form__field--textarea {
    margin-bottom: 22px;
  }
}
.form__label {
  color: #fff;
  margin-bottom: 0.375rem;
}
.form__input {
  font-size: 0.875rem;
  width: 100%;
  padding: 1.125rem 0.75rem;
  height: 3.625rem;
  background: #fff;
  border-radius: 4px;
}
.form__input--error {
  border: 3px dashed #E01F3D;
}
@media screen and (max-width: 768px) {
  .form__input {
    height: 36px;
  }
}
.form__input:focus {
  outline: none;
  border: 3px solid #E01F3D;
}
.form__input--textarea {
  height: 9.5rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.125rem;
  }
}
.form__select {
  color: #fff;
  margin-bottom: 2.375rem;
}
@media screen and (max-width: 768px) {
  .form__select {
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 480px) {
  .form__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.form__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.6875rem;
}
@media screen and (max-width: 768px) {
  .form__pay {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 480px) {
  .form__pay {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__call {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__button {
  margin-right: 0.9375rem;
}
.form__button:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__button {
    margin-right: 1.625rem;
  }
}

.select {
  margin-right: 1.5rem;
}
@media screen and (max-width: 480px) {
  .select {
    margin-right: 20px;
  }
}
.select:last-child {
  margin-right: 0;
}
.select__input {
  display: none;
}
.select__input:checked + .select__label::after {
  content: "";
  display: block;
  position: absolute;
  left: 6px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #E01F3D;
}
.select__input:checked + .select__label--check::after {
  display: none;
}
.select__input:checked + .select__label--check .select__icon {
  display: block;
}
.select__label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.select__label::before {
  content: "";
  display: block;
  margin-right: 11px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
}
.select__label--check::before {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #fff;
}
.select__icon {
  display: none;
  position: absolute;
  left: 7px;
  width: 10px;
  height: 8px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #333537;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 101;
}
.modal__window {
  width: 19.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  background: #fff;
}
.modal__text {
  text-align: center;
  color: #000;
  font-size: 18px;
  margin-bottom: 18px;
}
.modal__text--error {
  color: #E01F3D;
}

.contacts {
  position: relative;
  height: 600px;
}
.contacts__map {
  height: 100%;
}
.contacts__footer {
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.footer {
  background: #fff;
  color: #292929;
  font-size: 1.125rem;
  padding: 1.25rem 0;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 1.75rem 0;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 1.875rem 0;
  }
}
.footer__container {
  padding-top: 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 18px;
  }
}
.footer__address {
  margin-bottom: 0.4375rem;
}
@media screen and (max-width: 768px) {
  .footer__address {
    font-size: 21px;
  }
}
@media screen and (max-width: 480px) {
  .footer__address {
    margin-bottom: 10px;
    font-size: 18px;
  }
}

.map {
  background: url("../img/map.png") center center/cover no-repeat;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item {
  margin-right: 0.625rem;
}
@media screen and (max-width: 480px) {
  .social__item {
    margin-right: 0.875rem;
  }
}
.social__item:last-child {
  margin-right: 0;
}
.social__link {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
}
.social__link:hover .social__icon {
  fill: #292929;
}
@media screen and (max-width: 768px) {
  .social__link {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 480px) {
  .social__link {
    width: 24px;
    height: 24px;
  }
}
.social__icon {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  fill: #B3B3B3;
  width: 100%;
  height: 100%;
}

.fixed-menu {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__button {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__button::before {
  background-color: #E01F3D;
}
.fixed-menu__button {
  background: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  position: relative;
}
.fixed-menu__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #7b7b7b;
}