.button {
  display: inline-block;
  border-radius: rem(100px);
  padding: rem(18px) rem(41px);
  background: $red;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  transition: 0.4s;

  &:hover {
    background: #CA1B36;
  }

  &--theme--text {
    color: $red;
    padding: 0;
    background: none;
    text-transform: none;
    font-weight: 400;

    &:hover {
      background: none;
      color: #fff;
    }
  }
}