.contacts {
  position: relative;

  &__map {
    height: 100%;

    @include mobile {
      min-height: 630px;
    }
  }

  &__footer {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}