.contacts {
  position: relative;
  height: 600px;

  &__map {
    height: 100%;
  }

  &__footer {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}