.crew {

  &__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__title {
    text-align: center;
    margin-bottom: rem(52px);
  }

  &__list {
    display: flex;
    align-items: flex-start;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    width: calc((100% - 6%)/4);
    margin-right: 2%;

    &:last-child {
      margin-right: 0;
    }

    @include tablet {
      width: 222px;
      margin-right: 0;
    }
  }
}