.fixed-menu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  z-index: $zFixedMenu;

  @include tablet {
    display: none;
  }

  &__item {
    margin-bottom: rem(5px);

    &--active {
      .fixed-menu__button {
        border-color: $red;

        &::before {
          background-color: $red;
        }
      }
    }
  }

  &__button {
    background: none;
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: rem(6px);
      height: rem(6px);
      border-radius: 50%;
      background: #7b7b7b;
    }
  }
}