.phone {
  display: flex;
  align-items: center;
  transition: 0.4s;

  &__icon {
    transition: 0.4s;
    fill: $black;
    width: 14px;
    height: 14px;
    margin-right: 6px;

    @include tablet {
      fill: $red;
    }
  }

  &:hover {
    color: $red;

    .phone__icon {
      fill: $red;
    }

  }

  &__text {
    white-space: nowrap;
    font-size: rem(18px);

    @include tablet {
      color: $red;
      font-size: rem(16px);
    }
  }
}