.phone {
  display: flex;
  align-items: center;

  &__icon {
    fill: #292929;
    width: 14px;
    height: 14px;
    margin-right: 6px;
  }
  
  &__text {
    white-space: nowrap;
    font-size: rem(18px);

    @include mobile {
      font-size: rem(16px);
    }
  }
}