.fixed-menu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  z-index: $zFixedMenu;
}

.fixed-menu__item {
  margin-bottom: 5px;

  &--active {
    .fixed-menu__button {
      border-color: $red;

      &::before {
        background-color: $red;
      }
    }
  }
}

.fixed-menu__button {
  background: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #7b7b7b;
  }
}