.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
}

.form__field {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 16px;
  margin-bottom: 11px;

  &:last-child {
    margin-right: 0;
  }
}

.form__field--textarea {
  margin-right: 0;
  margin-bottom: 38px;
}

.form__label {
  color: #fff;
  margin-bottom: 6px;
}

.form__input {
  font-size: 14px;
  width: 100%;
  padding: 18px 12px;
  height: 58px;
  background: #fff;
  border-radius: 4px;

  &:focus {
    outline: none;
    border: 3px solid $red;
  }

  &--textarea {
    height: 152px;
    resize: none;
  }
}

.form__select {
  color: #fff;
  margin-bottom: 46px;
}

.form__pay {
  display: flex;
  margin-bottom: 19px;
}

.form__button {
  margin-right: 15px;
}